@media (max-width: 600px) {
    .header-section{
        min-width: auto;
         /* border: 2px solid green;  */
        width: 375px;
        margin: 0 auto;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .header{
        display: flex;
        flex-direction: column;
        
      
    }
    
    .header span{
        font-size: 21px;
    }
    .header2 a {
      display: none;
    
    }
    .header2 i {
        display: block;
        font-size: 24px;
    }

    /* banner */
    .banner-sec{
        min-width: auto;
        width: 335px;
        height: 483px;
         /* border: 2px solid green;  */
        margin: 5px auto;
    }
    .banner-title{
       
        font-size: 22px;
        padding-top: 50px;    }


        .banner-content{
           
            font-size: 14px;
          
        }
        .banner_rectangle{
            width: 288px;
            height: 287px;
            flex-direction: column;
            background-color: #ffffff2d;
            margin-top:20px;
        }

        /* Banner done */
        .section1 {
    min-width: auto;
    width: 375px;
    height: auto;
     /* border:2px solid green;  */
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    order: 1;
    
    
}
.div1 ul li{
    font-size: 14px;
    line-height: 1.5;
    /* overflow-x: hidden; */
    
}
.div2{
    background-image: url("../B9A2-Hero-Travel/Images/Rectangle\ 4.png");
    height: 335px; 
    width: 342px;
    border-radius: 20px; 
    background-size:contain;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    order: 2;
}
/* Section Two */
.destination{
    min-width: auto;
    width: 375px;
    height: auto;
    /* border: 2px solid green; */
    margin: 0px auto;
    text-align: center;
}
.destination p{
    color:rgba(19, 19, 24, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin
}
.div-image{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   margin-top: 50px;
   gap: 10px;
}
.image1 ,.image2,.image3,.image4,.image5,.image6 ,.image7 {
    height: 176px;
    width: 335px;
    /* border: 2px solid green; */
    border-radius: 8px;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
.image1 p{
  
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 

   
}
.image2 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
}
.div-image2{
    display: flex;
    flex-direction: column;
   /* justify-content:space-evenly; */
   margin-top: 25px;
   gap: 10px;
}
.image3 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
}

.image4 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
}


.image5 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
    
}
.image5{
    /* background-image: url("../B9A2-Hero-Travel/Images/Rectangle\ 9.png"); */
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto; 
    width: 335px;
    height: 176px;
    background-size: cover;
    
}
.div-image3{
    display: flex;
    flex-direction: column;
   /* justify-content:space-evenly; */
   margin-top: 25px;
   gap: 10px;
}
.image6 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
    
}
.image7 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
    
}
.choose{
    text-align: center;
    padding-top: 80px;
    min-width: auto;
    width: 335px;
    /* border: 2px solid green; */
    margin: 0px auto;
    height: 176px;
}
.div-choose{
    min-width: auto;
    width: 335px;
     height: auto;
    margin: 20px auto;
    /* border: 2px solid green;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part1{
    width: 300px;
    height: 289px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background-color: rgba(251, 181, 99, 0.2);
     padding: 20px; 
    margin: 20px auto;
    border-radius: 8px;
}
.part1 p{
    
    font-size: 14px;
    
}
.part2{
    width: 300px;
    height: 289px;
    border: 1px solid rgba(41, 206, 246, 0.05);
    background-color: rgba(41, 206, 246, 0.05);
   padding: 20px; 
    border-radius: 8px;
    margin: 20px auto;
}
.part2 p{
    padding-top: 10px;
    font-size: 15px;
    color: rgba(19, 19, 24, 0.7);
}

.part3{
    width: 335px;
    height: 289px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background-color: rgba(233, 68, 68, 0.2));
    padding : 20px;
    border-radius: 8px;
    margin: 0px auto;
}
.part3 p{
    padding-top: 10px;
    font-size: 14px;
    
}
.deals{
    min-width: auto;
    width: 335px;
    /* border: 2px solid green; */
    margin: 0px auto;
    text-align: center;
    padding: 20px;
}
.deals p{
    padding-top: 10px;
    font-size: 14px;
    color: rgba(19, 19, 24, 0.7);
}

.tour1{
    width: 250px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
   
    top: 20px;
    border-radius: 16px;
}
.tours3{
    width: 250px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 20px;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
}
.section6{
    min-width: auto;
    margin: 10px auto;
    width: 335px;
  /* border:2px solid green;  */
    display: flex;
    flex-direction: column;
    height:auto;

}
.sec-div2 video{
    margin-top:-50px;
    border-radius: 16px;
    height: 200px;
    width: 335px;
    /* border: 1px solid rgb(96, 96, 238); */
}
.sec-div1{
    width: 50%;
    margin-top: -20px;
    
}
.section7{

    min-width: auto;
    width: 335px;
    /* height: 400px; */
    /* border: 2px solid green; */
    margin: 0 auto;
    display: block;

}
.div1-sec{
    height: 350px;
    width: 200px;
     /* border: 2px solid rgba(255, 84, 0, 1); */
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 8px;
    margin: 0px auto;
}
.div2-sec{
    height:300px;
    width: 335px;
    border-radius: 16px;
    background-size: cover;
}
.div2-sec img{

    height: 400px;
    width:300px ;
    border-radius: 16px;
    margin: 0px auto ;
}
.section8{
    min-width: auto;
    width: 335px;
    /* background-image: url("../B9A2-Hero-Travel/Images/mobile.jpeg"); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../B9A2-Hero-Travel/Images/mobile.jpeg); */
    /* border: 2px solid green;  */
    height: auto;
    background-repeat: no-repeat;
    margin:500px auto 20px auto;
    background-size: cover;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    
}
.pic{
    height: 100px;
    width: 150px;
}
.offer-image{
    display: none;
}
.section8 >img{
    display: none;
}
.footer-start{
    min-width: auto;
    width: 335px;
    background-color: rgba(19, 19, 24, 0.05);
    /* border: 2px solid green; */
    height: 309px;
    margin: 20px auto;
    font-size: 14px;
    
}
.footer-content{
    display: block;
    /* justify-content: center;
    align-items: center; */
    padding-top: 40px;
    width: 209px;
    margin :20px auto;

     border-bottom: 1px solid gray; 
}
.footer-title{
    display: block;
    padding: 10px;
    /* border-bottom: 1px solid gray; */
    width:209px ;
    margin: 20px auto;
}

}